Repository gardener/gardener-extensions, pull requests merged in 2019-06, with the labels that each got.

#99 Add additionalPrinterColumns to MCM CRDs
  pkg/controller/worker/genericactuator/machine_crds.go
Labels: needs/ok-to-test

#100 Add network policies
  controllers/extension-certificate-service/charts/internal/cert-broker/templates/deployment.yaml
  controllers/extension-certificate-service/charts/internal/cert-manager/values.yaml
  controllers/provider-alicloud/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  controllers/provider-aws/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-aws/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-azure/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  controllers/provider-gcp/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-gcp/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  controllers/provider-openstack/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  controllers/provider-packet/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-packet/charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  vendor/github.com/gardener/gardener/pkg/operation/terraformer/terraformer.go
Labels: needs/ok-to-test

#102 Add controlplane webhooks for Azure
  Makefile
  controllers/provider-aws/pkg/apis/config/types.go
  controllers/provider-azure/charts/images.yaml
  controllers/provider-azure/charts/provider-azure/templates/configmap.yaml
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/charts/provider-azure/templates/rbac.yaml
  controllers/provider-azure/charts/provider-azure/templates/storageclass.yaml
  controllers/provider-azure/charts/provider-azure/values.yaml
  controllers/provider-azure/cmd/gardener-extension-provider-azure/app/app.go
  controllers/provider-azure/example/00-componentconfig.yaml
  controllers/provider-azure/example/20-crd-worker.yaml
  controllers/provider-azure/example/30-etcd-backup-secret.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-azure/pkg/apis/config/types.go
  controllers/provider-azure/pkg/apis/config/v1alpha1/types.go
  controllers/provider-azure/pkg/apis/config/v1alpha1/zz_generated.conversion.go
  controllers/provider-azure/pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  controllers/provider-azure/pkg/apis/config/zz_generated.deepcopy.go
  controllers/provider-azure/pkg/azure/types.go
  controllers/provider-azure/pkg/cmd/config.go
  controllers/provider-azure/pkg/cmd/options.go
  controllers/provider-azure/pkg/webhook/controlplane/add.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/add.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/add.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-gcp/pkg/apis/config/types.go
Labels: needs/ok-to-test

#101 Add Alicloud controlplane webhooks
  Makefile
  controllers/provider-alicloud/charts/provider-alicloud/templates/configmap.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/storageclass.yaml
  controllers/provider-alicloud/charts/provider-alicloud/values.yaml
  controllers/provider-alicloud/cmd/gardener-extension-provider-alicloud/app/app.go
  controllers/provider-alicloud/example/00-componentconfig.yaml
  controllers/provider-alicloud/example/30-etcd-backup-secret.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-alicloud/pkg/alicloud/secret.go
  controllers/provider-alicloud/pkg/alicloud/types.go
  controllers/provider-alicloud/pkg/apis/config/types.go
  controllers/provider-alicloud/pkg/apis/config/v1alpha1/types.go
  controllers/provider-alicloud/pkg/apis/config/v1alpha1/zz_generated.conversion.go
  controllers/provider-alicloud/pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  controllers/provider-alicloud/pkg/apis/config/zz_generated.deepcopy.go
  controllers/provider-alicloud/pkg/cmd/config.go
  controllers/provider-alicloud/pkg/cmd/options.go
  controllers/provider-alicloud/pkg/webhook/controlplane/add.go
  controllers/provider-alicloud/pkg/webhook/controlplane/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/add.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/add.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#104 Skip Cert-Broker when DNS provider is unmanaged
  controllers/extension-certificate-service/pkg/controller/certservice/actuator.go
Labels: kind/bug, needs/ok-to-test, size/xs, topology/seed

#119 Use `etc/hostname` for hostname override.
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer_test.go
Labels: needs/ok-to-test

#107 Fix webhook issues with controller registration
  Makefile
  controllers/provider-alicloud/charts/provider-alicloud/templates/deployment.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-aws/charts/provider-aws/templates/deployment.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/charts/provider-gcp/templates/deployment.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-packet/charts/provider-packet/templates/deployment.yaml
  controllers/provider-packet/example/controller-registration.yaml
  pkg/webhook/cmd/options.go
  pkg/webhook/cmd/options_test.go
Labels: needs/ok-to-test

#118 Fix OpenStack ControlPlane controller's values
  controllers/provider-openstack/pkg/apis/openstack/types_controlplane.go
  controllers/provider-openstack/pkg/apis/openstack/v1alpha1/types_controlplane.go
  controllers/provider-openstack/pkg/apis/openstack/v1alpha1/zz_generated.conversion.go
  controllers/provider-openstack/pkg/apis/openstack/v1alpha1/zz_generated.deepcopy.go
  controllers/provider-openstack/pkg/apis/openstack/zz_generated.deepcopy.go
  controllers/provider-openstack/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-openstack/pkg/controller/controlplane/valuesprovider_test.go
Labels: needs/ok-to-test

#105 Add controlplane webhooks for Openstack
  Makefile
  controllers/provider-openstack/charts/images.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/configmap.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/deployment.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/storageclass.yaml
  controllers/provider-openstack/charts/provider-openstack/values.yaml
  controllers/provider-openstack/cmd/gardener-extension-provider-openstack/app/app.go
  controllers/provider-openstack/example/00-componentconfig.yaml
  controllers/provider-openstack/example/30-controlplane.yaml
  controllers/provider-openstack/example/30-etcd-backup-secret.yaml
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-openstack/pkg/apis/config/types.go
  controllers/provider-openstack/pkg/apis/config/v1alpha1/types.go
  controllers/provider-openstack/pkg/apis/config/v1alpha1/zz_generated.conversion.go
  controllers/provider-openstack/pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  controllers/provider-openstack/pkg/apis/config/zz_generated.deepcopy.go
  controllers/provider-openstack/pkg/cmd/config.go
  controllers/provider-openstack/pkg/cmd/options.go
  controllers/provider-openstack/pkg/openstack/types.go
  controllers/provider-openstack/pkg/webhook/controlplane/app.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/add.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplaneexposure/add.go
  controllers/provider-openstack/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: needs/ok-to-test

#108 Temporarily disable writing to shoot in controlplane controllers
  pkg/controller/controlplane/genericactuator/actuator.go
  pkg/controller/controlplane/genericactuator/actuator_test.go
Labels: needs/ok-to-test

#106 Fix network policies for AliCloud and Openstack
  controllers/os-coreos-alicloud/charts/os-coreos-alicloud/templates/deployment.yaml
  controllers/os-coreos-alicloud/example/controller-registration.yaml
  controllers/os-coreos/charts/os-coreos/templates/deployment.yaml
  controllers/os-coreos/example/controller-registration.yaml
  controllers/os-suse-jeos/charts/os-suse-jeos/templates/deployment.yaml
  controllers/os-suse-jeos/example/controller-registration.yaml
  controllers/provider-alicloud/charts/internal/seed-controlplane/charts/alicloud-cloud-controller-manager/templates/alicloud-ccm-deployment.yaml
  controllers/provider-alicloud/charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-dep.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/deployment.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-aws/charts/provider-aws/templates/deployment.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/charts/provider-gcp/templates/deployment.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-openstack/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/deployment.yaml
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-packet/charts/provider-packet/templates/deployment.yaml
  controllers/provider-packet/example/controller-registration.yaml
Labels: area/networking, kind/bug, needs/ok-to-test, platform/ali, platform/openstack

#121 Enhance imagevertor overwrite for alicloud provider
  controllers/provider-alicloud/charts/provider-alicloud/templates/configmap-imagevector-overwrite.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/deployment.yaml
  controllers/provider-alicloud/charts/provider-alicloud/values.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
Labels: needs/ok-to-test

#126 Fix etcd-main PVC template name based on latest Gardener changes
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-aws/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplaneexposure/ensurer_test.go
  pkg/webhook/controlplane/etcd.go
Labels: needs/ok-to-test

#125 update default machine image versions for aws and azure
  controllers/provider-aws/charts/provider-aws/values.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/values.yaml
  controllers/provider-azure/example/controller-registration.yaml
Labels: needs/ok-to-test

#124 Enhance controlplane webhooks to do more provider-specific modifications
  controllers/provider-aws/pkg/webhook/controlplane/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer_test.go
  pkg/mock/gardener-extensions/webhook/controlplane/genericmutator/mocks.go
  pkg/webhook/controlplane/genericmutator/mutator.go
  pkg/webhook/controlplane/genericmutator/mutator_test.go
  pkg/webhook/controlplane/genericmutator/noopensurer.go
Labels: needs/ok-to-test

#137 [ci:component:github.com/gardener/etcd-backup-restore:0.6.3->0.6.4]
  controllers/provider-alicloud/charts/images.yaml
  controllers/provider-aws/charts/images.yaml
  controllers/provider-azure/charts/images.yaml
  controllers/provider-gcp/charts/images.yaml
  controllers/provider-openstack/charts/images.yaml
Labels: needs/ok-to-test

#127 Add checksum annotations in controlplane webhooks
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer_test.go
  pkg/controller/controlplane/genericactuator/actuator.go
  pkg/webhook/controlplane/checksums.go
Labels: needs/ok-to-test

#139 Fix volume claim template name
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer_test.go
  pkg/webhook/controlplane/etcd.go
Labels: needs/ok-to-test

#140 Enhance imagevertor overwrite for alicloud provider
  controllers/extension-certificate-service/example/controller-registration.yaml
  controllers/os-coreos-alicloud/example/controller-registration.yaml
  controllers/os-coreos/example/controller-registration.yaml
  controllers/os-suse-jeos/example/controller-registration.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/configmap-imagevector-overwrite.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/deployment.yaml
  controllers/provider-alicloud/charts/provider-alicloud/values.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-packet/example/controller-registration.yaml
Labels: needs/ok-to-test

#142 Ensure worker CRDs conditionally at startup
  controllers/provider-alicloud/cmd/gardener-extension-provider-alicloud/app/app.go
  controllers/provider-aws/cmd/gardener-extension-provider-aws/app/app.go
  controllers/provider-azure/cmd/gardener-extension-provider-azure/app/app.go
  controllers/provider-gcp/cmd/gardener-extension-provider-gcp/app/app.go
  controllers/provider-openstack/cmd/gardener-extension-provider-openstack/app/app.go
  controllers/provider-packet/cmd/gardener-extension-provider-packet/app/app.go
  pkg/controller/worker/genericactuator/actuator_reconcile.go
  pkg/controller/worker/machine_crds.go
  pkg/controller/worker/options.go
Labels: needs/ok-to-test

#143 [ci:component:github.com/gardener/terraformer:0.12.0->0.13.0]
  controllers/provider-alicloud/charts/images.yaml
  controllers/provider-aws/charts/images.yaml
  controllers/provider-azure/charts/images.yaml
  controllers/provider-gcp/charts/images.yaml
  controllers/provider-openstack/charts/images.yaml
  controllers/provider-packet/charts/images.yaml
Labels: needs/ok-to-test

#145 Delete fw rules with shoot prefix
  controllers/provider-gcp/pkg/internal/infrastructure/infrastructure.go
Labels: needs/ok-to-test

#144 Add packet controlplane controller
  controllers/provider-alicloud/example/20-crd-controlplane.yaml
  controllers/provider-packet/charts/images.yaml
  controllers/provider-packet/charts/internal/cloud-controller-manager/charts/utils-tls-cipher-suites
  controllers/provider-packet/charts/internal/seed-controlplane/Chart.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/Chart.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/charts/utils-templates/Chart.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/charts/utils-templates/README.md
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/charts/utils-templates/templates/_resources.tpl
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/charts/utils-templates/templates/_versions.tpl
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/templates/controller.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/csi-packet/values.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/packet-cloud-controller-manager/Chart.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/packet-cloud-controller-manager/charts/utils-tls-cipher-suites
  controllers/provider-packet/charts/internal/seed-controlplane/charts/packet-cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-packet/charts/internal/seed-controlplane/charts/packet-cloud-controller-manager/values.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/Chart.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/Chart.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/charts/utils-templates/Chart.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/charts/utils-templates/README.md
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/charts/utils-templates/templates/_resources.tpl
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/charts/utils-templates/templates/_versions.tpl
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/credential-secret.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/node.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-attacher-rbac.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-plugin-psp.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-plugin-rbac.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-provisioner-rbac.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/csi-packet/values.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/packet-cloud-controller-manager/Chart.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/packet-cloud-controller-manager/templates/rbac-node-controller.yaml
  controllers/provider-packet/charts/internal/shoot-system-components/charts/packet-cloud-controller-manager/values.yaml
  controllers/provider-packet/example/30-controlplane.yaml
  controllers/provider-packet/pkg/controller/controlplane/add.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-packet/pkg/imagevector/imagevector.go
  controllers/provider-packet/pkg/packet/types.go
  pkg/controller/shoot.go
Labels: needs/ok-to-test

#146 Enable controlplane controllers and webhooks
  controllers/provider-alicloud/charts/provider-alicloud/values.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-aws/charts/provider-aws/values.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/values.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/charts/provider-gcp/values.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-openstack/charts/provider-openstack/values.yaml
  controllers/provider-openstack/example/controller-registration.yaml
Labels: needs/ok-to-test

#148 Fix controlplane controllers and webhooks for Alicloud
  Makefile
  controllers/provider-alicloud/charts/internal/seed-controlplane/charts/csi-alicloud/templates/csi-plugin-dep.yaml
  controllers/provider-alicloud/charts/internal/seed-controlplane/charts/csi-alicloud/values.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/rbac.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/storageclass.yaml
  controllers/provider-alicloud/charts/provider-alicloud/values.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-aws/charts/provider-aws/templates/deployment.yaml
  controllers/provider-aws/charts/provider-aws/values.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/charts/provider-azure/templates/rbac.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/charts/provider-gcp/templates/deployment.yaml
  controllers/provider-gcp/charts/provider-gcp/templates/rbac.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/deployment.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/rbac.yaml
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-packet/charts/provider-packet/templates/deployment.yaml
  controllers/provider-packet/charts/provider-packet/templates/rbac.yaml
  controllers/provider-packet/example/controller-registration.yaml
Labels: needs/ok-to-test

#147 Ensure Cloud provider config as part of kubelet configuration
  controllers/provider-azure/pkg/azure/types.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-openstack/pkg/openstack/types.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer_test.go
  pkg/mock/gardener-extensions/webhook/controlplane/genericmutator/mocks.go
  pkg/webhook/controlplane/genericmutator/mutator.go
  pkg/webhook/controlplane/genericmutator/mutator_test.go
  pkg/webhook/controlplane/genericmutator/noopensurer.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#138 Improve amount of controller reconciliations
  controllers/extension-certificate-service/charts/extension-certificate-service/values.yaml
  controllers/extension-certificate-service/example/controller-registration.yaml
  controllers/extension-certificate-service/pkg/controller/certservice/add.go
  controllers/os-coreos-alicloud/charts/os-coreos-alicloud/templates/_helpers.tpl
  controllers/os-coreos-alicloud/charts/os-coreos-alicloud/templates/deployment.yaml
  controllers/os-coreos-alicloud/example/10-fake-shoot-controlplane.yaml
  controllers/os-coreos-alicloud/example/20-crd-operatingsystemconfig.yaml
  controllers/os-coreos-alicloud/example/30-operatingsystemconfig.yaml
  controllers/os-coreos-alicloud/example/controller-registration.yaml
  controllers/os-coreos/charts/os-coreos/templates/_helpers.tpl
  controllers/os-coreos/charts/os-coreos/templates/deployment.yaml
  controllers/os-coreos/example/10-fake-shoot-controlplane.yaml
  controllers/os-coreos/example/20-crd-operatingsystemconfig.yaml
  controllers/os-coreos/example/30-operatingsystemconfig.yaml
  controllers/os-coreos/example/controller-registration.yaml
  controllers/os-suse-jeos/charts/os-suse-jeos/templates/_helpers.tpl
  controllers/os-suse-jeos/charts/os-suse-jeos/templates/deployment.yaml
  controllers/os-suse-jeos/example/controller-registration.yaml
  controllers/provider-alicloud/charts/provider-alicloud/templates/_helpers.tpl
  controllers/provider-alicloud/charts/provider-alicloud/templates/deployment.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-aws/charts/provider-aws/templates/_helpers.tpl
  controllers/provider-aws/charts/provider-aws/templates/deployment.yaml
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/provider-azure/templates/_helpers.tpl
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-gcp/charts/provider-gcp/templates/_helpers.tpl
  controllers/provider-gcp/charts/provider-gcp/templates/deployment.yaml
  controllers/provider-gcp/example/20-crd-worker.yaml
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-openstack/charts/provider-openstack/templates/_helpers.tpl
  controllers/provider-openstack/charts/provider-openstack/templates/deployment.yaml
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-packet/charts/provider-packet/templates/_helpers.tpl
  controllers/provider-packet/charts/provider-packet/templates/deployment.yaml
  controllers/provider-packet/example/controller-registration.yaml
  pkg/controller/controlplane/controller.go
  pkg/controller/extension/mapper.go
  pkg/controller/extension/reconciler.go
  pkg/controller/infrastructure/controller.go
  pkg/controller/mapper.go
  pkg/controller/mapper_test.go
  pkg/controller/operatingsystemconfig/controller.go
  pkg/controller/predicate.go
  pkg/controller/predicate_test.go
  pkg/controller/utils.go
  pkg/controller/worker/controller.go
  pkg/handler/enqueued_mapped.go
Labels: kind/enhancement, needs/ok-to-test, priority/normal, size/l, topology/seed

#150 Fix Ensuring kubernetes general configuration for AWS and GCP
  controllers/provider-aws/pkg/webhook/controlplane/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer_test.go
Labels: needs/ok-to-test

#151 Fix controlplane hibernation issue
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-aws/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-aws/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-gcp/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-gcp/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-openstack/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-openstack/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/genericactuator/actuator.go
  pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/controller/controlplane/reconciler.go
  pkg/controller/shoot.go
  pkg/mock/gardener-extensions/controller/controlplane/genericactuator/mocks.go
Labels: needs/ok-to-test

#155 Fix Openstack/Azure controlplane ensurer in deletion context
  controllers/provider-azure/pkg/webhook/controlplane/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplane/ensurer_test.go
Labels: needs/ok-to-test

#156 Fix azure infra name retrieval
  controllers/provider-azure/charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  controllers/provider-azure/example/30-controlplane.yaml
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-azure/pkg/webhook/controlplaneexposure/ensurer.go
Labels: needs/ok-to-test

#157 Fix infra status retrieval for Alicloud
  controllers/provider-alicloud/example/30-controlplane.yaml
  controllers/provider-alicloud/pkg/apis/alicloud/types_controlplane.go
  controllers/provider-alicloud/pkg/apis/alicloud/v1alpha1/types_controlplane.go
  controllers/provider-alicloud/pkg/apis/alicloud/v1alpha1/zz_generated.conversion.go
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-aws/example/30-controlplane.yaml
  controllers/provider-aws/pkg/apis/aws/helper/helper.go
  controllers/provider-aws/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-azure/example/30-controlplane.yaml
  controllers/provider-gcp/example/30-controlplane.yaml
  controllers/provider-gcp/pkg/apis/gcp/types_controlplane.go
  controllers/provider-openstack/example/30-controlplane.yaml
  controllers/provider-openstack/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-packet/example/30-controlplane.yaml
Labels: needs/ok-to-test

#160 Update gardener dependency and fix image vectors
  Gopkg.lock
  Gopkg.toml
  controllers/extension-certificate-service/pkg/controller/certservice/actuator.go
  controllers/extension-certificate-service/pkg/controller/lifecycle/actuator.go
  controllers/provider-alicloud/example/30-controlplane.yaml
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-alicloud/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-alicloud/pkg/imagevector/imagevector.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-alicloud/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-aws/pkg/imagevector/imagevector.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-azure/pkg/internal/imagevector/imagevector.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-azure/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-gcp/pkg/internal/imagevector/imagevector.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-openstack/pkg/imagevector/imagevector.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-openstack/pkg/webhook/controlplanebackup/ensurer_test.go
  controllers/provider-packet/pkg/imagevector/imagevector.go
  controllers/provider-packet/pkg/webhook/controlplanebackup/ensurer.go
  controllers/provider-packet/pkg/webhook/controlplanebackup/ensurer_test.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/register.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_backupbucket.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_backupentry.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/pkg/utils/chart/chart.go
  vendor/github.com/gardener/gardener/pkg/utils/imagevector/imagevector.go
  vendor/github.com/gardener/gardener/pkg/utils/imagevector/types.go
  vendor/github.com/gardener/gardener/pkg/utils/version.go
Labels: needs/ok-to-test

#165 [ci:component:github.com/gardener/machine-controller-manager:0.18.0->0.19.0]
  controllers/provider-alicloud/charts/images.yaml
  controllers/provider-aws/charts/images.yaml
  controllers/provider-azure/charts/images.yaml
  controllers/provider-gcp/charts/images.yaml
  controllers/provider-openstack/charts/images.yaml
  controllers/provider-packet/charts/images.yaml
Labels: needs/ok-to-test

#169 Fixes deletion of firewall rules on gcp
  controllers/provider-gcp/pkg/controller/infrastructure/actuator_delete.go
  controllers/provider-gcp/pkg/internal/infrastructure/infrastructure.go
  controllers/provider-gcp/pkg/internal/infrastructure/infrastructure_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#170 Fixes deletion of routes on GCP
  controllers/provider-gcp/pkg/controller/infrastructure/actuator_delete.go
  controllers/provider-gcp/pkg/internal/infrastructure/infrastructure.go
  controllers/provider-gcp/pkg/internal/infrastructure/infrastructure_test.go
Labels: needs/ok-to-test
