Repository gardener/gardener-extensions, pull requests merged in 2019-05, with the labels that each got.

#70 Fix / Pin tools
  .dockerignore
  Dockerfile
  Gopkg.lock
  Gopkg.toml
  hack/check.sh
  hack/install-requirements.sh
  pkg/controller/controlplane/reconciler.go
  tools/go.mod
  tools/go.sum
  vendor/github.com/golang/mock/gomock/internal/mock_matcher/mock_matcher.go
  vendor/github.com/golang/mock/mockgen/internal/tests/aux_imports_embedded_interface/bugreport.go
  vendor/github.com/golang/mock/mockgen/internal/tests/aux_imports_embedded_interface/bugreport_mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/aux_imports_embedded_interface/faux/faux.go
  vendor/github.com/golang/mock/mockgen/internal/tests/custom_package_name/client/v1/client.go
  vendor/github.com/golang/mock/mockgen/internal/tests/custom_package_name/greeter/greeter.go
  vendor/github.com/golang/mock/mockgen/internal/tests/custom_package_name/validator/validate.go
  vendor/github.com/golang/mock/mockgen/internal/tests/dot_imports/input.go
  vendor/github.com/golang/mock/mockgen/internal/tests/dot_imports/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/empty_interface/input.go
  vendor/github.com/golang/mock/mockgen/internal/tests/empty_interface/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/generated_identifier_conflict/bugreport.go
  vendor/github.com/golang/mock/mockgen/internal/tests/generated_identifier_conflict/bugreport_mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/import_source/definition/source.go
  vendor/github.com/golang/mock/mockgen/internal/tests/import_source/definition/source_mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/import_source/source_mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/internal_pkg/generate.go
  vendor/github.com/golang/mock/mockgen/internal/tests/internal_pkg/subdir/internal/pkg/input.go
  vendor/github.com/golang/mock/mockgen/internal/tests/internal_pkg/subdir/internal/pkg/reflect_output/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/internal_pkg/subdir/internal/pkg/source_output/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/unexported_method/bugreport.go
  vendor/github.com/golang/mock/mockgen/internal/tests/unexported_method/bugreport_mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_dep/doc.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_dep/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_dep/source_mock_package/mock.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_dep/vendor_dep.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_pkg/doc.go
  vendor/github.com/golang/mock/mockgen/internal/tests/vendor_pkg/mock.go
  vendor/github.com/golang/mock/mockgen/mockgen.go
  vendor/github.com/golang/mock/mockgen/model/model.go
  vendor/github.com/golang/mock/mockgen/parse.go
  vendor/github.com/golang/mock/mockgen/reflect.go
  vendor/github.com/golang/mock/sample/concurrent/concurrent.go
  vendor/github.com/golang/mock/sample/concurrent/mock/concurrent_mock.go
  vendor/github.com/golang/mock/sample/imp1/imp1.go
  vendor/github.com/golang/mock/sample/imp2/imp2.go
  vendor/github.com/golang/mock/sample/imp3/imp3.go
  vendor/github.com/golang/mock/sample/imp4/imp4.go
  vendor/github.com/golang/mock/sample/mock_user/mock_user.go
  vendor/github.com/golang/mock/sample/user.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#50 Add AWS controlplane controller tests
  controllers/provider-aws/pkg/controller/controlplane/actuator.go
  controllers/provider-aws/pkg/controller/controlplane/actuator_test.go
  controllers/provider-aws/pkg/controller/controlplane/add.go
  pkg/controller/controlplane/interfaces.go
  pkg/mock/apimachinery/runtime/doc.go
  pkg/mock/apimachinery/runtime/mocks.go
  pkg/mock/gardener-extensions/controller/controlplane/doc.go
  pkg/mock/gardener-extensions/controller/controlplane/mocks.go
Labels: area/control-plane, area/quality, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, platform/aws, priority/normal, size/l, status/in-progress, status/under-investigation, topology/seed

#84 Fix resourceName for suse os controller in rbac
  controllers/os-suse-jeos/charts/os-suse-jeos/templates/rbac.yaml
  controllers/os-suse-jeos/example/controller-registration.yaml
Labels: needs/ok-to-test

#81 Enhance Infrastructure controller with custom Watch controls
  pkg/controller/infrastructure/controller.go
Labels: needs/ok-to-test

#83 Refactor controlplane webhooks to eliminate code duplication
  controllers/provider-aws/pkg/webhook/controlplane/add.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-aws/pkg/webhook/controlplaneexposure/add.go
  controllers/provider-aws/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-aws/pkg/webhook/controlplaneexposure/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplane/add.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplane/ensurer_test.go
  controllers/provider-gcp/pkg/webhook/controlplaneexposure/add.go
  controllers/provider-gcp/pkg/webhook/controlplaneexposure/ensurer.go
  controllers/provider-gcp/pkg/webhook/controlplaneexposure/ensurer_test.go
  pkg/controller/controlplane/genericactuator.go
  pkg/mock/gardener-extensions/webhook/controlplane/genericmutator/doc.go
  pkg/mock/gardener-extensions/webhook/controlplane/genericmutator/mocks.go
  pkg/webhook/controlplane/controlplane_suite_test.go
  pkg/webhook/controlplane/genericmutator/mutator.go
  pkg/webhook/controlplane/genericmutator/mutator_test.go
  pkg/webhook/controlplane/handler_test.go
  pkg/webhook/controlplane/noopensurer.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#91 Add deploying to Shoot to controlplane controllers
  Gopkg.lock
  Gopkg.toml
  controllers/provider-aws/charts/internal/cloud-controller-manager-shoot/Chart.yaml
  controllers/provider-aws/charts/internal/cloud-controller-manager-shoot/templates/rbac-node-controller.yaml
  controllers/provider-aws/charts/internal/cloud-controller-manager-shoot/values.yaml
  controllers/provider-aws/example/30-controlplane.yaml
  controllers/provider-aws/example/30-infrastructure.yaml
  controllers/provider-aws/pkg/controller/controlplane/add.go
  controllers/provider-aws/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-aws/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-gcp/charts/internal/cloud-controller-manager-shoot/Chart.yaml
  controllers/provider-gcp/charts/internal/cloud-controller-manager-shoot/templates/rbac-node-controller.yaml
  controllers/provider-gcp/charts/internal/cloud-controller-manager-shoot/values.yaml
  controllers/provider-gcp/example/controlplane.yaml
  controllers/provider-gcp/pkg/controller/controlplane/add.go
  controllers/provider-gcp/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-gcp/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-packet/charts/internal/cloud-controller-manager-shoot/Chart.yaml
  controllers/provider-packet/charts/internal/cloud-controller-manager-shoot/templates/rbac-node-controller.yaml
  controllers/provider-packet/charts/internal/cloud-controller-manager-shoot/values.yaml
  controllers/provider-packet/example/controlplane.yaml
  controllers/provider-packet/pkg/controller/controlplane/add.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-packet/pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/controlplane/genericactuator/actuator.go
  pkg/controller/controlplane/genericactuator/actuator_test.go
  pkg/mock/gardener-extensions/controller/controlplane/genericactuator/doc.go
  pkg/mock/gardener-extensions/controller/controlplane/genericactuator/mocks.go
  pkg/mock/gardener-extensions/controller/controlplane/mocks.go
  pkg/mock/gardener-extensions/util/doc.go
  pkg/mock/gardener-extensions/util/mocks.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_controlplane.go
Labels: needs/ok-to-test

#96 [ci:component:github.com/gardener/machine-controller-manager:0.16.0->0.18.0]
  controllers/provider-aws/charts/images.yaml
  controllers/provider-azure/charts/images.yaml
  controllers/provider-gcp/charts/images.yaml
  controllers/provider-openstack/charts/images.yaml
  controllers/provider-packet/charts/images.yaml
Labels: reviewed/ok-to-test

#95 Add controlplane for azure provider
  Makefile
  controllers/extension-certificate-service/example/controller-registration.yaml
  controllers/extension-certificate-service/pkg/imagevector/imagevector.go
  controllers/os-coreos-alicloud/example/controller-registration.yaml
  controllers/os-coreos/example/controller-registration.yaml
  controllers/os-suse-jeos/example/controller-registration.yaml
  controllers/provider-alicloud/example/controller-registration.yaml
  controllers/provider-alicloud/pkg/imagevector/imagevector.go
  controllers/provider-aws/example/controller-registration.yaml
  controllers/provider-azure/charts/images.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager-shoot/Chart.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager-shoot/templates/rbac-node-controller.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager-shoot/values.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager/Chart.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager/charts/utils-tls-cipher-suites/Chart.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager/charts/utils-tls-cipher-suites/templates/_tls_cipher_suites.tpl
  controllers/provider-azure/charts/internal/cloud-controller-manager/templates/_helpers.tpl
  controllers/provider-azure/charts/internal/cloud-controller-manager/templates/cloud-controller-manager.yaml
  controllers/provider-azure/charts/internal/cloud-controller-manager/values.yaml
  controllers/provider-azure/charts/internal/cloud-provider-config/Chart.yaml
  controllers/provider-azure/charts/internal/cloud-provider-config/templates/cloud-provider-config.yaml
  controllers/provider-azure/charts/internal/cloud-provider-config/values.yaml
  controllers/provider-azure/charts/internal/utils-tls-cipher-suites/Chart.yaml
  controllers/provider-azure/charts/internal/utils-tls-cipher-suites/templates/_tls_cipher_suites.tpl
  controllers/provider-azure/charts/provider-azure/doc.go
  controllers/provider-azure/charts/provider-azure/templates/deployment.yaml
  controllers/provider-azure/charts/provider-azure/templates/rbac.yaml
  controllers/provider-azure/charts/provider-azure/values.yaml
  controllers/provider-azure/cmd/gardener-extension-provider-azure/app/app.go
  controllers/provider-azure/example/20-crd-controlplane.yaml
  controllers/provider-azure/example/30-controlplane.yaml
  controllers/provider-azure/example/controller-registration.yaml
  controllers/provider-azure/pkg/apis/azure/doc.go
  controllers/provider-azure/pkg/apis/azure/register.go
  controllers/provider-azure/pkg/apis/azure/types_controlplane.go
  controllers/provider-azure/pkg/apis/azure/v1alpha1/register.go
  controllers/provider-azure/pkg/apis/azure/v1alpha1/types_controlplane.go
  controllers/provider-azure/pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  controllers/provider-azure/pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  controllers/provider-azure/pkg/apis/azure/zz_generated.deepcopy.go
  controllers/provider-azure/pkg/azure/types.go
  controllers/provider-azure/pkg/cmd/options.go
  controllers/provider-azure/pkg/controller/controlplane/add.go
  controllers/provider-azure/pkg/controller/controlplane/controlplane_suite_test.go
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider.go
  controllers/provider-azure/pkg/controller/controlplane/valuesprovider_test.go
  controllers/provider-azure/pkg/controller/worker/machines.go
  controllers/provider-azure/pkg/controller/worker/machines_test.go
  controllers/provider-azure/pkg/internal/auth.go
  controllers/provider-azure/pkg/internal/auth_test.go
  controllers/provider-azure/pkg/internal/types.go
  controllers/provider-gcp/example/controller-registration.yaml
  controllers/provider-gcp/pkg/internal/imagevector/imagevector.go
  controllers/provider-openstack/example/controller-registration.yaml
  controllers/provider-openstack/pkg/imagevector/imagevector.go
  controllers/provider-packet/example/controller-registration.yaml
  controllers/provider-packet/pkg/imagevector/imagevector.go
Labels: needs/ok-to-test
